body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
}

#navbar {
  width: 100%;
  height: 4.2rem;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  z-index: 999;
}

#navbar #navbarSupportedContent{
  visibility: hidden;
}

#navbar .logo {
  width: 40px;
  margin: 0px;
}

.nav.sidebar {
  position: fixed;
  display: block;
  top: 4.2rem;
  left: 0;
  width: 15rem;
  /* height: calc(100vh - 4.2rem); */
  height: 100vh;
  background-color: whitesmoke;
  border-right: 1px solid #888;
  overflow-y: auto;
  z-index: 998;
}

.nav.sidebar li a {
  color: #212529;
  margin-bottom: 0.2rem;
}

.nav.sidebar li a:hover {
  color: #212529db;
  font-weight: bold;
}

.nav-link i{
  margin-right: 5px;
}

.flex {
  width: 83.95vw;
  height: 100vh;
  flex: 1;
  margin-top: 4.2rem;
  margin-left: 15rem;
  /* overflow-y: auto;
  overflow-x: auto; */
  padding: 20px;
}

.div-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.section-login {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.section-login .container-logo{
  display: grid;
  place-items: center;
}

.section-login .logo{
  width: 50%;
}

.section-login form {
  width: 50vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.inputFile-group, .button-group {
  margin: 25px 0;
}

button i {
  padding-right: 0.2rem;
}

.card-title{
  display: inline-block;
}

.button-group-card{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.button-group-card button{
  margin-inline-end: 5px;
}

.button-group{
  display: flex;
  justify-content: flex-start;
}

.button-group button {
  margin-inline-end: 15px;
}

.charts-button-group{
  display: flex;
  justify-content: flex-start;
}

.charts-button-group .chart-button{
  margin: 5px;
  padding: 0px;
}

.charts-button-download{
  display: flex;
  justify-content: flex-end;
}

.simple-bar-charts{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}

a.page-link{
  user-select: none
}

 input.page-link{
  width: 50px;
}

.form-check{
  padding-left: 30px;
}

.card:hover{
  box-shadow: 5px 5px #888;
  zoom: 1.02;
  /* cursor: pointer; */
}

@media (max-width: 1024px){
  body{
    margin: 0;
    padding: 0;
    width: auto;
  }
  #root{
    width: auto;
    display: block;
  }
  .App{
    width: auto;
  }
  .flex{
    width: auto;
    height: auto;
    margin-left: 0;
    padding: 10px;
  }
  .nav.sidebar{
    visibility: hidden;
  }
  #navbar #navbarSupportedContent {
    visibility: visible;
  }

  #navbar {
    height: auto;
    padding: 0.54rem 2px;
  }

  #navbar #div-ul {
    visibility: visible;
  }
}
