#root {
  display: flex;
}

#navbar{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.nav.sidebar{
  position: fixed;
  top: 4.2rem;
  left: 0;
}

nav .logo{
  width: 40px;
  margin: 0 5px;
}

.nav.sidebar{
  width: 15rem;
  height: 91.6vh;
  background-color: whitesmoke;
  display: block;
  border-right: 1px solid #888;
}

.nav.sidebar li a{
  color: #212529;
  margin-bottom: 0.2rem;
}

.nav.sidebar li a:hover {
  color: #212529db;
  font-weight: bold;
  zoom: 1.02;
}

.flex{
  flex: 1;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 0;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: auto;
}

.inputFile-group{
  margin: 25px 0;
}

.button-group{
  margin: 25px 0;
}

button i {
  padding-right: 0.2rem;
}

